*{
    box-sizing: border-box;
}
header{
    background-color: #f7f3f0;
}
.navbar-collapse a{
    margin: 20px;
}
.body-header{
    background: url(/CaseStudy2_HoneyWebPage/img/blog-h1.jpg);
    height: 350px;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 100px 100px 100px; */
}
.img-story img{
    width: 350px;
    height: 250px;
}
.body-blog{
    padding-left: 48px;
    padding-top: 48px;
    background-color: #f7f3f0;
}
.sidebar-news, .Category, .Newlester{
    background-color: white;
    
}
.sidebar-news{
    padding-left: 20px;
}
.Category{
    padding-left: 20px;
    padding-bottom: 20px;
}
.Newlester{
    padding-left: 20px;
    padding-right: 20px;
}
.img-comment {

}
footer{
    background-color: rgb(240, 159, 79);
}